.header {
    padding: 4rem 0;
    border-bottom: 1px solid var(--border);
    margin-bottom: 4rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--primary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
}